body{
	margin: 0px;
	padding: 0px;
	background-color: black;
	background: url('../img/bg2.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	color: white;
	font-family: helvetica, sans-serif;
	text-align: center;
	font-size: 20px;
}

table{
	display: table;
	margin: 150px auto;
	border-collapse: collapse;
	text-align: center;
	max-width: 90%;
}

tr, td, th{
	border: 2px solid black;
	padding: 3px 15px;
}

th{
	text-transform: uppercase;
	background-color: #0021EB;
	color: white;
	font-weight: bolder;
	text-align: center;
	padding: 0px 15px;
}

a{
	text-decoration: none;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 5px black;

}

td{
	background-color: lightblue;
	color: black;
}

.modifs{
	background-color: white;
	padding: 0px 15px;
	
}

.sup{
	color: red;
}

#ajout{
	padding: 7px 7px;
	font-weight: bold;
	border: 5px ridge grey;
	background-color: darkblue;
	color: white;
	text-align: center;
}

#mod{
	color: green;
}

h1{
	text-shadow: 1px 1px 5px black;
}

#item{
	font-weight: bolder;
}

#com{
	max-width: 50%;
}

#date{
	font-size: 20px;
}

.fond{
	display: inline-block;
	background-color: rgba(0,0,0,0.4);
	margin: 5px;
	padding: 10px;
	font-size: 22px;
	width: 50%;
}

.entreeform{
	width: 100%;
	height: auto;
	display: table;
}

.formleft{
	width: 10%;
	height: auto;
	float: left;
	text-align: left;
	padding-top: 1%;
	padding-right: 1%;
	font-size: 1em;
}

.formright{
	width: 89%;
	height: auto;
	float: left;
}

select, input, textarea{
	width: 90%;
	margin: 1% auto;
}